<section class="flex flex-col auth-container lg:flex-row">
  <div class="auth-box w-full lg:w-[50%]">
    <div class="mx-auto auth-content">
      <div class="auth-text">
        <h1 class="auth-title">Welcome to</h1>
        <h2 class="auth-mini-title">Elevate</h2>
        <p class="auth-p">
          Quidem autem voluptatibus qui quaerat aspernatur <br> architecto natus
        </p>
      </div>
      <div class="mx-auto auth-image-container">
        <img src="/images/bro.svg" alt="StudyIllustration" class="object-contain w-full h-auto" />
      </div>
    </div>
  </div>

  <div class="w-full lg:w-[50%]">
    <app-auth-navbar></app-auth-navbar>
      <router-outlet></router-outlet>

  </div>
</section>
