<section class="section-container-forgot">
  <div class="form-container-forgot">
    <div>
      <h2 class="forgot-title">Forgot your Password?</h2>
      @if (step == 1) {
      <form [formGroup]="verifyEmail"
      class="form"
      (ngSubmit)="verifyEmailSubmit()">
        <div class="input">
          <input formControlName="email"
          type="email" placeholder="Enter Email" class="input-field">
        </div>
        @if ( verifyEmail.get('email')?.errors &&  verifyEmail.get('email')?.touched) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if ( verifyEmail.get('email')?.getError('required')) {
                    <li>Email is required</li>
                  }
                  @else if ( verifyEmail.get('email')?.getError('email')) {
                    <li>Enter valid email</li>
                  }
              </ul>
            </div>
          </div>
        }


        <div class="mb-4 text-right">
          <a (click)="verifyEmailSubmit()
          " class="cursor-pointer recover">Recover Password ?</a>
        </div>
        <button [disabled]="verifyEmail.invalid"
          type="submit" class="sign-in-btn disabled:bg-gray-700">
          <span (click)="verifyEmailSubmit()"
          class="sign-in-text">Verify Email</span>
          @if (isLoading) {
            <span><i class="mx-5 fas fs-spin fa-spinner"></i></span>
          }
        </button>

        @if (msgError) {
          <p class="px-2 py-2 text-center text-white bg-red-300 border">{{msgError}}</p>
        }
        @if (isSuccess) {
          <p class="px-2 py-2 text-center text-white bg-green-300 border">Correct Email</p>
        }
                <app-social-icons></app-social-icons>
      </form>
    }

  @else if ( step == 2) {
    <form [formGroup]="verifyCode" class="form"
    (ngSubmit)="verifyCodeSubmit()">
    <div class="input">
      <input formControlName="resetCode"
      type="text" class="input-field">
    </div>

    @if ( verifyCode.get('resetCode')?.errors &&  verifyCode.get('resetCode')?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if ( verifyCode.get('resetCode')?.getError('required')) {
                <li>Code is required</li>
              }
              @else if ( verifyEmail.get('resetCode')?.getError('resetCode')) {
                <li>Enter valid Code</li>
              }
          </ul>
        </div>
      </div>
    }

    <div class="mb-2 text-right">Didn't Receive a code ?
      <a (click)="resendCode()" class="cursor-pointer recover">Resend Code</a>
    </div>

    <button [disabled]="verifyCode.invalid"
      type="submit" class="sign-in-btn disabled:bg-gray-700">
      <span class="sign-in-text">Verify code</span>


      @if (isLoading) {
        <span><i class="mx-5 fas fs-spin fa-spinner"></i></span>
      }
    </button>

    @if (msgError) {
      <p class="px-2 py-2 text-center text-white bg-red-300 border">{{msgError}}</p>
    }
    @if (isSuccess) {
      <p class="px-2 py-2 text-center text-white bg-green-300 border">Correct Email</p>
    }
        </form>
    }
    @else if ( step == 3) {
      <form [formGroup]="resetPassword" class="form"
      (ngSubmit)="resetPasswordSubmit()">

        <h2 class="setpassword-title">Set a password</h2>


        <div class="password">
          <input formControlName="newPassword"
          [type]="isPasswordVisible ? 'text':'password'" placeholder="newPassword" class="input-field">
          <i class="password-icon fas"
          [class]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
          (click)="togglePasswordVisibility()"></i>
          </div>
          @if (resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Danger</span>
              <div>
                  <ul class="mt-1.5 list-disc list-inside">
                    @if (resetPassword.get('newPassword')?.getError('required')) {
                      <li>Password is required</li>
                    }
                    @else if (resetPassword.get('newPassword')) {
                      <li>Enter valid password</li>
                    }
                </ul>
              </div>
            </div>
          }


          <div class="password">
            <input formControlName="confirmPassword"
            [type]="isPasswordVisible ? 'text':'password'" placeholder="confirmPassword" class="input-field">
            <i class="password-icon fas"
            [class]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
            (click)="togglePasswordVisibility()"></i>
          </div>
          @if (resetPassword.get('confirmPassword')?.errors && resetPassword.get('confirmPassword')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Danger</span>
              <div>
                  <ul class="mt-1.5 list-disc list-inside">
                    @if (resetPassword.get('confirmPassword')?.getError('required')) {
                      <li>Password is required</li>
                    }
                    @else if (resetPassword.get('confirmPassword')) {
                      <li>Enter valid password</li>
                    }
                </ul>
              </div>
            </div>
          }

          <button  [disabled]="resetPassword.invalid"
            type="submit" class="sign-in-btn disabled:bg-gray-700"
            routerLink="/auth">
            <span class="sign-in-text">Sign in</span>
            @if (isLoading) {
              <span><i class="mx-5 fas fs-spin fa-spinner"></i></span>
            }
          </button>

          @if (msgError) {
            <p class="px-2 py-2 text-center text-white bg-red-300 border">{{msgError}}</p>
          }
          @if (isSuccess) {
            <p class="px-2 py-2 text-center text-white bg-green-300 border">Correct Email</p>
          }
                  </form>
      }
  </div>
  </div>
</section>










