.answer-box {
  background: #edeff3;
  padding: 16px 8px;
  border-radius: 10px;
  // margin: 4px 0;
  word-break: break-all;
}

.correct-box {
  background: #84f17a;
  padding: 16px 8px;
  border-radius: 10px;
  // margin: 4px 0;
  word-break: break-all;
}

.wrong-box {
  background: #ffa0a0;
  padding: 16px 8px;
  border-radius: 10px;
  // margin: 4px 0;
  word-break: break-all;
}

.wrongQues {
  background-color: #f9f9f9;
  box-shadow: 0px 0px 8px 0px #2a292940;
  border-radius: 10px;
  padding: 16px 8px;
}
