<section class="w-[66.4375rem] h-[61.75rem] gap-40">
  <h1 class="w-[8.125rem] h-[1.375rem] font-medium leading-[100%] tracking-[0rem] pb-8 ">
    Front-End Quiz
  </h1>

  <div class="w-[66.4375rem] h-[6.4375rem] flex justify-between items-center gap-24 py-16 rounded-[.625rem] shadow-inner">
    <!-- Left Content -->
    <div class="flex items-center gap-6">
      <div class="w-[4.375rem] h-[4.375rem]">
        <img src="/images/html.png" alt="Html Logo" class="object-contain w-full h-full"/>
      </div>
      <div class="flex flex-col">
        <h1 class="text-lg font-semibold">HTML</h1>
        <p class="text-sm text-gray-500">20 Question</p>
      </div>
    </div>

    <!-- Right Content -->
    <div class="flex flex-col items-end gap-2">
      <p class="text-sm text-gray-600">15 Minutes</p>
      <button class="px-6 py-2 text-sm font-semibold text-white bg-blue-600 rounded-2xl hover:bg-blue-700">
        Start
      </button>
    </div>
  </div>



  <div class="w-[66.4375rem] h-[6.4375rem] flex justify-between items-center gap-24 py-16 rounded-[.625rem] shadow-inner">
    <!-- Left Content -->
    <div class="flex items-center gap-6">
      <div class="w-[4.375rem] h-[4.375rem]">
        <img src="/images/css.webp" alt="Css Logo" class="object-contain w-full h-full"/>
      </div>
      <div class="flex flex-col">
        <h1 class="text-lg font-semibold">CSS</h1>
        <p class="text-sm text-gray-500">20 Question</p>
      </div>
    </div>

    <!-- Right Content -->
    <div class="flex flex-col items-end gap-2">
      <p class="text-sm text-gray-600">15 Minutes</p>
      <button class="px-6 py-2 text-sm font-semibold text-white bg-blue-600 rounded-2xl hover:bg-blue-700">
        Start
      </button>
    </div>
  </div>



  <div class="w-[66.4375rem] h-[6.4375rem] flex justify-between items-center gap-24 py-16 rounded-[.625rem] shadow-inner">
    <!-- Left Content -->
    <div class="flex items-center gap-6">
      <div class="w-[4.375rem] h-[4.375rem]">
        <img src="/images/bootstrap.jpeg" alt="Bootstrap Logo" class="object-contain w-full h-full"/>
      </div>
      <div class="flex flex-col">
        <h1 class="text-lg font-semibold">Bootstrap</h1>
        <p class="text-sm text-gray-500">20 Question</p>
      </div>
    </div>

    <!-- Right Content -->
    <div class="flex flex-col items-end gap-2">
      <p class="text-sm text-gray-600">15 Minutes</p>
      <button class="px-6 py-2 text-sm font-semibold text-white bg-blue-600 rounded-2xl hover:bg-blue-700">
        Start
      </button>
    </div>
  </div>



  <div class="w-[66.4375rem] h-[6.4375rem] flex justify-between items-center gap-24 py-16 rounded-[.625rem] shadow-inner">
    <!-- Left Content -->
    <div class="flex items-center gap-6">
      <div class="w-[4.375rem] h-[4.375rem]">
        <img src="/images/js-png.webp" alt="JavaScript Logo" class="object-contain w-full h-full"/>
      </div>
      <div class="flex flex-col">
        <h1 class="text-lg font-semibold">JavaScript</h1>
        <p class="text-sm text-gray-500">20 Question</p>
      </div>
    </div>

    <!-- Right Content -->
    <div class="flex flex-col items-end gap-2">
      <p class="text-sm text-gray-600">15 Minutes</p>
      <button class="px-6 py-2 text-sm font-semibold text-white bg-blue-600 rounded-2xl hover:bg-blue-700">
        Start
      </button>
    </div>
  </div>




  <h1 class="w-[8.125rem] h-[1.375rem] font-medium leading-[100%] tracking-[0rem] pb-8 pt-10 ">
    Frmework Quiz
  </h1>

  <div class="w-[66.4375rem] h-[6.4375rem] flex justify-between items-center gap-24 py-16 rounded-[.625rem] shadow-inner">
    <!-- Left Content -->
    <div class="flex items-center gap-6">
      <div class="w-[4.375rem] h-[4.375rem]">
        <img src="/images/angularpng.png" alt="Angular Logo" class="object-contain w-full h-full"/>
      </div>
      <div class="flex flex-col">
        <h1 class="text-lg font-semibold">Angular</h1>
        <p class="text-sm text-gray-500">20 Question</p>
      </div>
    </div>

    <!-- Right Content -->
    <div class="flex flex-col items-end gap-2">
      <p class="text-sm text-gray-600">15 Minutes</p>
      <button class="px-6 py-2 text-sm font-semibold text-white bg-blue-600 rounded-2xl hover:bg-blue-700">
        Start
      </button>
    </div>
  </div>



  <div class="w-[66.4375rem] h-[6.4375rem] flex justify-between items-center gap-24 py-16 rounded-[.625rem] shadow-inner">
    <!-- Left Content -->
    <div class="flex items-center gap-6">
      <div class="w-[4.375rem] h-[4.375rem]">
        <img src="/images/react.png" alt="React Logo" class="object-contain w-full h-full"/>
      </div>
      <div class="flex flex-col">
        <h1 class="text-lg font-semibold">React</h1>
        <p class="text-sm text-gray-500">20 Question</p>
      </div>
    </div>

    <!-- Right Content -->
    <div class="flex flex-col items-end gap-2">
      <p class="text-sm text-gray-600">15 Minutes</p>
      <button class="px-6 py-2 text-sm font-semibold text-white bg-blue-600 rounded-2xl hover:bg-blue-700">
        Start
      </button>
    </div>
  </div>

</section>
