<section class="w-full py-8 bg-white md:px-6 lg:px-8">
  <div class="container mx-auto">
    <h2 class="mb-8 text-2xl font-semibold text-gray-900">Front-End Quiz</h2>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
      @for (exam of exams(); track exam._id) {
        <article
  (click)="startExam(exam._id)"
  class="flex items-center justify-between px-6 py-4 w-full md:w-[10.4375rem] sm:w-[30.4375rem]  lg:w-[60.4375rem] h-[6.4375rem]  lg:bg-white md:px-6 lg:px-8 rounded-xl lg:shadow-[0px_0px_4px_0px_rgba(0,0,0,0.1)]">

  <div class="flex items-center gap-4">
    <i class="p-3 text-4xl text-white fa-solid fa-book rounded-2xl"></i>
    <div class="flex flex-col gap-1">
      <h2 class="text-lg font-medium text-black">{{ exam.title }}</h2>
      <span class="font-normal text-gray-600 text-md">
        {{ exam.numberOfQuestions || 0 }} Question
      </span>
    </div>
  </div>

  <div class="flex flex-col items-center gap-2">
    <span class="font-normal text-black text-md">
      {{ exam.duration || 15 }} Minutes
    </span>
    <button
      type="button"
      class="px-8 py-1 font-semibold text-white transition bg-blue-600 hover:bg-blue-700 rounded-2xl"
      (click)="startExam(exam._id)"> Start
    </button>
  </div>

</article>
      }
    </div>
  </div>
</section>








@if(isOpen$ | async){
  <app-custom-modal>
    @switch (examStatus$ | async) { @case ("Started") {

    <app-exam></app-exam>
    } @case ("Completed") {
    <app-exam-score></app-exam-score>
    } @case ("Review Answers") {
    <app-exam-summry></app-exam-summry>
    } }
  </app-custom-modal>
  }
