<div class="separator-container">
  <div class="separator-line"></div>
  <span class="separator-text">Or Continue with</span>
  <div class="separator-line"></div>
</div>
<ul class="social-icons">
  <li class="icon"> <img src="images/media/google.png" alt="google icon"> </li>
  <li class="icon"> <img src="images/media/twitter.png" alt="twitter icon"> </li>
  <li class="icon"> <img src="images/media/facebook.png" alt="facebook icon"> </li>
  <li class="icon"> <img src="images/media/apple.png" alt="apple icon"> </li>
</ul>
